@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  /**
     * colors
     */
  --terracotta: hsl(9, 57%, 55%);
  --white: hsl(0, 100%, 100%);
  --bittersweet: hsl(16, 68%, 66%);
  --onyx: hsl(0, 0%, 27%);
  --eerie-black: hsl(0, 0%, 13%);
  --weight-500: 500;
  --weight-700: 700;
  --border-radius-md: 10px;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.main-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-size: cover;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  font-weight: var(--weight-700);
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: var(--white);
  background: var(--terracotta);
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  border-radius: var(--border-radius-md);
  font-weight: var(--weight-700);
  font-size: 1.2em;
  padding: 0.5em 0.8em;
}


@media (max-width: 768px) {

  .four_zero_four_bg {
    height: 300px;
  }

  .four_zero_four_bg h1 {
    font-size: 60px;
  }

  .four_zero_four_bg h3 {
    font-size: 40px;
  }

  .link_404 {
    font-size: 1.2em;
    padding: 0.5em 0.8em;
  }
}

@media (max-width: 480px) {
  .four_zero_four_bg {
    height: 250px;
  }

  .four_zero_four_bg h1 {
    font-size: 50px;
  }

  .four_zero_four_bg h3 {
    font-size: 30px;
  }

  .link_404 {
    font-size: 1.2em;
    padding: 0.5em 0.8em;
  }
}
